<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NguoiMu"
        tools:targetApi="31">
        <activity
            android:name=".views.MainActivity"
            android:exported="false" />
        <activity
            android:name=".CamDiecActivity"
            android:exported="false" />
        <activity
            android:name=".views.CanChinhKhoangCachActivity"
            android:exported="false" />
        <activity
            android:name=".views.DoDuongActivity"
            android:exported="false" />
        <activity
            android:name=".views.NhanDienNguoiThanActivity"
            android:exported="false" />
        <activity
            android:name=".views.DetectFaceActivity"
            android:exported="false" />
        <activity
            android:name=".views.ThemNguoiThanActivity"
            android:exported="false" />
        <activity
            android:name=".ManHinhChinhActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>